<div class="well sidebar-nav">
<h1 class="ribbon">
	<strong class="ribbon-content"><span style="padding-left:20px">History</span></strong>
</h1>
<p style="padding:15px;padding-top:30px;padding-bottom:5px;">
	Your history shows items you have looked at on supported retailers' websites and items you have liked on my.shopofme.com. 
</p>
<p style="padding:15px;padding-top:0px;">
	Click on an item to view it on the retailers website or use the buttons at the bottom of the page to browse earlier items.
</p>

</div>
