<% if the_items %>
	<div class="row-fluid">
	<% count = 0 %>
	<% the_items.each do |rec| %>
		<% if (count > 0) && (count % 6 == 0) %>
			</div>
			<div class="row-fluid">
		<% end %>
		    <div class="span2 othersviewing">
				<div class="otheritemimage">
		      		<a href="<%= rec.url %>" target="_blank">
		      			<img class="othersviewingitem" src="<%= image_link(rec) %>">
		      		</a>
		      	</div>
		      	<% if @the_user.id %>
			      	<p class="smallbuttons">
			      		<%= link_to "<img src='/assets/thumbsup_dark.png'/>".html_safe, user_item_likes_path(@the_user, rec), :method => :post, :class=>"btn small silentlikelink"  %>
			      		<%= link_to "<img src='/assets/thumbsdown_dark.png'>".html_safe, user_item_dislikes_path(@the_user, rec), :method => :post, :class=>"btn small silentlikelink"  %>
			      	</p>
			     <% end %>
		    </div><!--/span-->
		<% count = count + 1 %>
	<% end %>
	</div>
<% end %>