<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>com.stylegauge.sgv1</string>
       <key>Developer Identifier</key>
       <string>W6C89YQ6ZZ</string>
       <key>CFBundleVersion</key>
       <string>20</string>
       <key>CFBundleShortVersionString</key>
       <string>0.0.20</string>
       <key>URL</key>
       <string>http://shopofme.com/safari?update=true</string>
     </dict>
   </array>
</dict>
</plist>
