#landing_page.container-fluid
  #lpv-horizontal1
    .span7.left
      %h1
        Sign up complete
      %p
        You are now signed up to ShopOfMe, you'll receive a weekly email digest of items you've viewed on supported sites which have gone on sale.

    .span7.right
      .heroimage
        = image_tag 'website/discovery.jpg'

- content_for :head_content do
  = javascript_include_tag 'registration/registration'
