<div class="intro_box">
  <h2>
    Online Fashion, Instantly Personalised to you
  </h2>
  <p>
    ShopOfMe learns your style by analysing which clothes you look at when browsing on your favourite fashion sites.
  </p>
  <p>
    Search across over 100 retailers by price, gender and type of garment and instantly receive highly personalised recommendations from big names and up and coming brands alike.
  </p>
  <p> Scroll down to see a selection of the most recent additions to our catalogue or use the filters on the left to begin tailoring the results to you</p>
  <p>
    For the ultimate exprience, use the button in the top right to install our browser extension or click continue below to start browsing straight away</p>
  <p class="close_intro"><a href="#">Continue</a></p>
</div>
