<div id="item_detail_wrap">
	<div id="image">
		<img src="" class="main_image"/>
	</div>
	<div id="text">
		<p>
			<span class="small_item_details">
		  	From: <span class="item_retailer small_item_text"></span><br/>
		  	Price: <span class="item_price small_item_text"></span>
	  	<span>
	  </p>
	  <p>
	  	<a href="" class="outbound_link" target="_blank">
	  		View on retailers website
	  	</a>
	  </p>
	  <p>
	  	or <a href="#topitems">see what else is hot right now</a>
	  </p>
	</div>
</div>