<div class="new_recommended">
  <div class="recommended">
    <div class="itemwhole">
      <div class="itemimagetodescription">
        <a class="outbound_link" href="#" target="_blank">
          <img src="" class="main_image">
        </a>
        <span class="small_item_details">
          <span class="visited_at small_item_text"></span>
          <span class="item_price small_item_text"></span><br/>
          <span class="item_retailer small_item_text"></span>
        <span>
      </div>
      <div class="infoboxbottom">
        <div class="itembuttons">
          <div class="faved">
            <a class="pin-it-button" count-layout="none" href="#" target="_blank">
              <img id="pinterest" src="/assets/shopofmewebsite/pinterest.png">
            </a>
          </div>
          <div class="jumpout">
            <a href="#" class="outbound_link" target="_blank">
              <img id="jumpouticon" src="/assets/shopofmewebsite/zoom.png">
            </a>
          </div>
        </div>
        <div class="likedislike">
          <a class="btn likedbutton likelink" rel="nofollow"><img alt="Thumbsup_dark" src="/assets/shopofmewebsite/thumbsup_dark.png"><strong class="ilikeit">I Like It!</strong>
          </a>
          <a class="btn small dislikebutton dislikelink" rel="nofollow"><img alt="Thumbsdown_dark" src="/assets/shopofmewebsite/thumbsdown_dark.png">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
