<div id="no_items_found">
	<p>It looks like there are no items in your history yet. Every time you like an item, it will appear here, if you have the ShopOfMe extension installed, we'll also add every item you look at on one of our supported sites</p>
	<p>To install the ShopOfMe extension, <a href="http://www.shopofme.com">click here</a>, to view some recommended items, <a href="/#">click here</a></p>
</div>