.container-fluid
  /
    Features You'll love
    \==================================================
  .second_page_title
    %h1 About
  .strapline_page_title
    %h3 Think Last.FM for Fashion
  .box_center
    .howitworks
      %p ShopOfMe learns your style from your browsing history and then recommends you clothes from across the web. It captures which clothes you look at when browsing over 100 online retail sites (big and small) and then generates personalised recommendations to you with little to no effort on your part!
      %p
        %strong We love you
        \- we just wanted to let you know that. You are the heart and sole (get it?) of the futures fashion industry and we're planning big things for you to make your life simpler and more informed. That said, we're always looking for bloggers to write about us and would like to reward you with a little something special. If you do a piece on us we'll add you to our beta mailing list of unique fashion data (coming to an inbox near you soon). This means you'll receive  exclusive data on what hot's before anyone else!
      %p
        Email 
        %a{:href => "mailto:travis@shopofme.com"} travis@shopofme.com
        and don't forget to
        %a{:href => "https://twitter.com/shopofme", :target => "_blank"} Tweet us
        your article links!
