<div class="container-fluid">
	<script>
		$(document).ready(function() {
			_kmq.push(['identify', localStorage.getItem('pickseUserIdent')]);
			_kmq.push(['record', 'View Privacy Policy']);	
		});
	</script>


	
<!-- Features You'll love
================================================== -->

		<div class="second_page_title">
				<h1>Privacy Policy</h1>
			</div>
			<div class="strapline_page_title">
				<h3>the more you know!</h3>
			</div>
		<div class="box_center">
			<div class="howitworks">
					<p>The ShopOfMe browser app (the 'App') is brought to you by Style Gauge Ltd. This privacy policy (the 'Policy') sets out how Style Gauge Ltd uses and protects any information that you provide to Style Gauge Ltd when you use the App. By downloading the App, you confirm that you have read and agree to the terms of this Policy.</p>
					<p>Style Gauge Ltd is committed to ensuring that your privacy is protected. Style Gauge Ltd may vary this policy from time to time by updating this page. You should check this page from time to time to ensure that you agree to any changes.</p>
					<p>The term 'Style Gauge Ltd' or 'us' or 'we' refers to Style Gauge Limited, the owner of the Service whose company registration number is 07884856. The term 'you' refers to the user or viewer of our Service. The term 'Style Gauge' or 'the Service' or 'our Service' or 'this Service' refers to the Style Gauge website or any Style Gauge products, software, data feeds, and services provided to you on the Style Guage website or any affiliated third-party website.</p>
					<h2>What we collect</h2>
					<p>We require this information to understand your needs and provide you with a better service, and in particular for the following reasons:</p>
					<ul style="font-family: 'Open Sans', sans-serif;
font-size: 14px;">
					<li>Internal record keeping</li>
					<li>Understanding how customers are using the App so that we can improve our Service</li>
					<li>Providing fashion recommendations to you</li>
					<li>Provide anonymous, aggregated reports to our partners based on the most visited items.</li>
					</ul>
					<h2>What we do with the information we gather</h2>
					<p>We require this information to understand your needs and provide you with a better service, and in particular for the following reasons:</p>
					<ul style="font-family: 'Open Sans', sans-serif;
font-size: 14px;">
					<li>Internal record keeping.</li>
					<li>Understanding how customers are using the App so that we  can improve our Service. </li>
					<li>Providing fashion recommendations to you.</li>
					<li>Provide anonymous, aggregated reports to our partners based on the most visited items.</li>
					</ul>
					<h2>Security</h2>
					<p>We are committed to ensuring that your information is secure. In order to prevent unauthorised access or disclosure, we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online.</p>
					<h2>Cookies</h2>
					<p>A cookie is a small file which asks permission to be placed on your computer's hard drive. Once you agree, the file is added and the cookie helps analyse web traffic or lets you know when you visit a particular site. Cookies allow web applications to respond to you as an individual. The web application can tailor its operations to your needs, likes and dislikes by gathering and remembering information about your preferences.</p>
					<p>We use traffic log cookies to identify which pages are being used. This helps us analyse data about web page traffic and improve our website in order to tailor it to customer needs. We will also use this information to improve the accuracy of the aggregated reports that we provide to our partners, wherein the users are unidentified.</p>
					<p>Overall, cookies help us provide you with a better website, by enabling us to monitor which pages you find useful and which you do not. A cookie in no way gives us access to your computer or any information about you, other than the data you choose to share with us.</p>
					<p>You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. This may prevent you from taking full advantage of the website.</p>
					<h2>Links to other websites</h2>
					<p>Our Service contain links to other websites of interest. However, once you have used these links to leave our site, you should note that we do not have any control over that other website. Therefore, we cannot be responsible for the protection and privacy of any information which you provide whilst visiting such sites and such sites are not governed by this privacy statement. You should exercise caution and look at the privacy statement applicable to the website in question.</p>

					<h2>Your Rights</h2>

					<p>You may withdraw your consent for us to collect any further data from you at any time by uninstalling the App.</p>

					<h2>The Sites</h2>
					<p>We collect data when you visit any of the sites listed below. This list is subject to change without notice and inclusion on the list does not imply any association with the brands or sites listed.</p>

  <ul style="font-family: 'Open Sans', sans-serif;
font-size: 14px;">
	<% @the_sites.each do |site| %>
		<li><%= link_to site.domain, 'http://' +site.domain, :target=>'_blank'%></li>
	<% end %>
	</ul>
		</div>

	<% content_for :topbar do %>
		<%= render :partial => 'shared/mysiteheader' %>
	<% end %>
</div>
