// Place all the styles related to the dm/retailers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#shadow {
  background-color: black; 
  position:absolute; 
  left:0; 
  top:0; 
  width:100%; 
  z-index:1000;
  opacity: 0.9;
  color: white;
  font-size: 18px;
  text-align: center;

  .loading_text {
    padding-top: 250px;
  }
}
