<!-- Social share buttons
================================================== -->
		<div class="socialsharebuttons">
			<div style="width: 310px;margin-left:auto;margin-right:auto;padding-left:30px;">
				<div style="margin-top:0px;float:left;clear:none;">
				<div class="fb-like" data-href="http://www.facebook.com/pages/Shop-Of-Me/373106949423890" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
				</div>
				<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://shopofme.com" data-text="ShopOfMe - Your personal shopping assistant" data-via="ShopOfMe">Tweet</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				<!-- Place this tag where you want the +1 button to render. -->
	<div class="g-plusone" data-size="medium" data-href="http://shopofme.com"></div>
			</div>
		</div>
	</div>