<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
      <script type="text/javascript">
      var _kmq = _kmq || [];
      var _kmk = _kmk || '786b8daf5efbd1581a637fe7a99c828e70fff720';
      function _kms(u){
        setTimeout(function(){
          var d = document, f = d.getElementsByTagName('script')[0],
          s = d.createElement('script');
          s.type = 'text/javascript'; s.async = true; s.src = u;
          f.parentNode.insertBefore(s, f);
        }, 1);
      }
      _kms('//i.kissmetrics.com/i.js');
      _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
    </script>
        <title>Download Your Personal Shopping Assistant | ShopOfMe</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="description" content="Fashion discovery shopping assistant." />
        <meta name="author" content="Style Gauge" />
        <meta name="google-site-verification" content="KqSpi3rU9L7lWlqfN2dX63V-GY2rtyCOV7ivRpj3q0g" /> 
    <link rel="shortcut icon" href="/favicon.png" />

        <!-- Le styles -->
    <link href="/assets/shopofmewebsite/style.css" rel="stylesheet">
    <link href="/assets/shopofmewebsite/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/shopofmewebsite/docs.css" rel="stylesheet">
    

        <%= javascript_include_tag 'jquery' %>
        <%= javascript_include_tag 'jquery_ujs' %>

        <!-- MyHint JavaScript jQuery plugin -->
        <script type="text/javascript" src="/assets/shopofmewebsite/myHint.js"></script>

        <!-- Main JavaScript script -->
        <script type="text/javascript" src="/assets/shopofmewebsite/main.js"></script>
        <script type="text/javascript" src="/assets/shopofmewebsite/analytics.js"></script>
        <%= yield :head_content %>
    
    <!-- Le Google+ script -->      
    <script type="text/javascript">
      (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>

                <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30541940-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
    
    <!-- Le main font --> 
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    
    <!-- Le strapline font -->  
    <link href='http://fonts.googleapis.com/css?family=Miniver' rel='stylesheet' type='text/css'>
</head>

<body data-spy="scroll" data-target=".subnav" data-offset="50">
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=139540279520659";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


 <!-- Navbar
    ================================================== -->
<div class="navbar navbar-fixed-top">
   <div class="navbar-inner">
     <div class="container">
      
       <a class="brand" href="#"><img src="/assets/shopofmewebsite/logo.png"></a>
    <div class="nav-collapse">
          <ul class="nav">
            <li><a href="https://twitter.com/shopofme" class="" data-show-count="false">Follow @shopofme</a>
      </li>
          </ul>

        </div><!-- /.nav-collapse -->
     
    
     </div>
   </div>
 </div>

<div class="container">

<!-- Main Content
================================================== -->
    <div class="container-fluid">

      <%= yield %>

    </div>

<div class="clearfix"></div>  

<!-- Footer
================================================== -->
  <div class="footerseperator">
    <div class="footerbottomnav">
    <div class="span3 sgicon">
      
    </div>
    <div class="span9 navbar footerlinks">
      <ul class="footerbottom">
      <li><a href="mailto:hello@stylegauge.com">Contact</a></li>
      <li><a href="/pages/privacy">Privacy Policy</a></li>
      
          </ul>
    </div>
  </div>
  <div class="clearfix"></div>  
  <div class="copyright">
  <a target="_blank" href="http://twitter.com/shopofme"><img id="twitterbutton" src="/assets/shopofmewebsite/twitter_followus.png"></a><a target="_blank" href="http://www.facebook.com/pages/Shop-Of-Me/373106949423890"><img id="facebookbutton" src="/assets/shopofmewebsite/facebook_followus.png"></a></p><p>
  ShopOfMe © 2012 Style Gauge All Rights Reserved</div>
</div><!-- /container -->     
  <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>



  </body>
</html>

       
       
